<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tải file</title>
  </head>
  <body>
    <h1>Tải file</h1>
    <ul>
      <li><a href="/downloads/a.txt">a.txt</a></li>
      <li><a href="/downloads/b.py">b.py</a></li>
    </ul>
  </body>
</html>
