<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <title>Tải tệp</title>
  </head>
  <body>
    <h1>Tải tệp</h1>
    <form method="post" action="/uploads" enctype="multipart/form-data">
      <input type="file" name="file" />
      <br />
      <input type="submit" value="Tải tệp" />
    </form>
  </body>
</html>
